body{
    font-family: Arial, sans-serif;
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background-color: #FBF5A7;
    color: #B331F1;
}

h1{
    text-align:center;
}

.h{
    margin-top:30%;
}

.type{
    margin-top: 20px;
    margin-left:120px;
}
input{
    width: 70%;
    padding: 12px;
    border-radius: 25px;
    border: 1px solid #ccc;
    color: #FF62BB;
}

button{
    padding: 12px 20px;
    border-radius: 25px;
    cursor: pointer;
    color :#CB2957;
}

button:hover{
    background-color: aliceblue;
}

.result{
    margin-top:20px;
    padding:15px;
    border:1px solid #ddd;
    border-radius:8px;
}

a{
    color: green;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.home{
    text-decoration: none;
    color :#CB2957;
    padding: 10px 20px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.home:hover{
    text-decoration: none;
    color: #FF62BB;
}

.b{
    margin-top: 30px;
}