<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Search Engine</title>
    <link rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="h">

    <h1 style="font-size : 50px;">Mini Search Engine</h1>
    <p style ="text-align : center">Search through crawled book pages</p>
 
    <form action="/search" method= "GET" class="type">

      <input type="text" name="query" placeholder="Search here" required>

      <button type="submit">
        Search
      </button>

    </form>

</div>

    
</body>
</html>